<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="DbsContext" connectionString="metadata=res://*/Dbc.csdl|res://*/Dbc.ssdl|res://*/Dbc.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=www.dbss.nl;initial catalog=PVB_I4A2A_GROEP3;persist security info=True;user id=userapp;password=userapp;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>